!!! XML
!!!
%html
	%head
		%link{ :rel => "stylesheet", :type => "text/css", :href => "qbbs.css"}
		%title QBBS Web Interface
	%body
		.header
			%h3 QBBS V2.0 retroCOMPUTING BBS &nbsp;&nbsp;Job 1 &nbsp;&nbsp;KB0&nbsp;&nbsp; #{Time.now} 
		.main_frame
		
 
