#side
  #side2

  %h2{:class => "side-title"}Menu:
  .side-datablock
    =email
    Message Groups
    %ul
      =groups
    Telnet:
    %ul
      %li
        %a{:href =>"../java/bbs.html"}BBS
      %li
        %a{:href => "../java/gd.html"}Global Destruction   
    %a{:href => "/about"}About
    %br
    %a{:href => "/chat"}Chat
    %br
    %a{:href => "/information"}Information
    %br
    %a{:href => "/last"}Last Callers
    %br
    %a{:href => "/users"}User Listing
    %br
    %a{:href => "/log"}System Log
    %br
    %a{:href => "/usrsettings"}User Settings
    %br
    %a{:href => "/who"}Who is Online
    %br
    %a{:href =>"/goodbye"}Logout
    %a{:href => "http://www.sinatrarb.com/"}
      %img{:style => "margin-top:15px", :src => "../graphix/sinatra.jpg"}
