.main_frame
  #hmain-l
    #hmain2-l
      #hmain3-l
        = partial("display_text",:locals => {:display => display_text})
        %a{:href => "/information", :style => "margin-left:10px"}Back
= partial("footer")
		
 
