.main_frame
  = partial("side", :locals => {:email => email, :groups => groups})
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}Chat
          .main-content
          %table
            %tr
              %td
                %img{:src => "../graphix/boom.gif"}
              %td
                =message
                %br
= partial("footer")
