.main_frame
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}Delete Message
          .main-content
            %table
              %tr
                %td
                  %img{:src => "../graphix/boom.gif" }
                %td
                  =err


= partial("footer")
