.main_frame
  #main-l{:style =>"margin-left:136px;margin-bottom:10px;margin-top:10px"}
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}Logon Failure
          .main-content
            %table
              %tr
                %td
                  %img{:src => "../graphix/boom.gif"}
                %td
                  Incorrect account or password. <br>
                  You may create a new account 
                  %a{:href => "/newuser"}here.
                  %br
                  Try
                  %a{:href => "/"}again.


= partial("footer")
