.main_frame
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}GoodBye
          .main-content
            %table
              %tr
                %td
                  %img{:src => "../graphix/boom.gif"}
                %td
                  You have logged out. <br>
                  Log in
                  %a{:href => "/"}again.


= partial("footer")
