.main_frame
  = partial("side", :locals => {:email => email, :groups => groups})
  #wmain-l
    #wmain2-l
      #wmain3-l
        .main-title
          %h2{:class => "w_header"}
            Last Callers
        .main-content
          =last
	  
       
= partial("footer")
