!!! XML
!!!
%html
	%head
		%link{ :rel => "stylesheet", :type => "text/css", :href => "qbbs.css"}
		%title QBBS Web Interface
	:javascript
		function doBlink() {
		var blink = document.all.tags("BLINK")
		for (var i=0; i<blink.length; i++)
		blink[i].style.visibility = blink[i].style.visibility == "" ? "hidden" : "" 
		}

		function startBlink() {
		if (document.all)
		setInterval("doBlink()",1000)
		}
		window.onload = startBlink;

	%body
		.header
		= yield
		
 
