.main_frame
  = partial("side", :locals => {:email => email, :groups => groups})
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}
          Pick Something
       
= partial("footer")
