.main_frame
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}
            New User Account
        .main-content
          = n_out
	     
= partial("footer")
		
 
