.main_frame
  #hmain-l
    #hmain2-l
      #hmain3-l
        = partial("display_text",:locals => {:display => display_text})
        .main-content
          %a{:href => "/"}Login
= partial("footer")
		
 
