.main_frame
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}Password Error
          .main-content
            %table
              %tr
                %td
                  %img{:src => "../graphix/boom.gif"}
                %td
                  =err
                  Try
                  %a{:href => "/usrsettings"}again.


= partial("footer")
