.main_frame
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}Password Changed
          .main-content
            %table
              %tr
                %td
                  %img{:src => "../graphix/boom.gif"}
                %td
                  Password Successfully Changed
                  %a{:href => "/main"}Return.


= partial("footer")
