.main_frame
  #main-l
    #main2-l
      #main3-l
        .main-title
          %h2{:class => "w_header"}Account Created!
          .main-content
            %table
              %tr
                %td
                  %img{:src => "../graphix/boom.gif"}
                %td
                  %br
                  Click 
                  %a{:href => "/newusermsg"}here
                  to read the user agreement.

= partial("footer")
